<header class="bg-red-500 text-white p-4 shadow-md">
  <nav class="container mx-auto flex justify-between items-center">
    <ul class="flex space-x-4">
      <li>
        <a
          href="/"
          class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
          >airbnb</a
        >
      </li>
      <% if(isLoggedIn){ %>
        <a
          href="/host/add-home"
          class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
          >Add Home</a
        >
      </li>

      <li>
        <a
          href="/Bookings"
          class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
          >Bookings</a
        >
      </li>

      <li>
        <a
          href="/favourites"
          class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
          >Favorite</a
        >
      </li>
      
      <li>
        <a
          href="/home-list"
          class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
          >HomeList</a
        >
      </li>

      <li>
        <a
          href="/host/hostlist"
          class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
          >HostList</a
        >
      </li>
      <% } %>
       <% if(! isLoggedIn){ %>

      <li>
        <a
          href="/login"
          class="hover:bg-blue-400 py-2 px-4 rounded transition duration-300"
          >Login</a
        >
      </li>
      <li>
        <a
          href="/signup"
          class="hover:bg-blue-400 py-2 px-4 rounded transition duration-300"
          >signup</a
        >
      </li>
      <% }else{ %>
      <!-- <li>
        <a
          href="/logout"
          class="hover:bg-blue-400 py-2 px-4 rounded transition duration-300"
          >Logout</a
        >
      </li> -->

      <!-- same job is done by form action -->

      <form action="/logout" method="POST">
        <button
          class="hover:bg-blue-400 py-2 px-4 rounded transition duration-50"
        >
          Logout
        </button>
      </form>
      <% } %>
    </ul>
  </nav>
</header>
